@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Poppins:wght@600;700&display=swap");

:root {
  --main_background: hsl(222, 26%, 31%);
  --keypad_background: hsl(223, 31%, 20%);
  --screen_background: hsl(224, 36%, 15%);
  --del_key_background: hsl(225, 21%, 49%);
  --del_key_shadow: hsl(224, 28%, 35%);
  --result_key_background: hsl(6, 63%, 50%);
  --result_key_shadow: hsl(6, 70%, 34%);
  --number_key_background: hsl(30, 25%, 89%);
  --number_key_shadow: hsl(28, 16%, 65%);
  --number_color: hsl(221, 14%, 31%);
  --screen_number: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: var(--main_background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  width: 32rem;
  height: 50rem;
}
.calc_header {
  background-color: lightgreen;
  display: flex;
  padding: 0.5rem 1.2rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.calc_header__name {
  color: white;
}

.screen {
  background-color: var(--screen_background);
  width: 100%;
  height: 8rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 2rem;
}

.screen__text {
  color: var(--screen_number);
  font-size: 3rem;
}

.keys {
  background-color: var(--keypad_background);
  border-radius: 0.7rem;
  margin-top: 1.5rem;
  padding: 1.7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.keys__button,
.keys__button--del,
.keys__button--reset,
.keys__button--equals {
  width: 100%;
  height: 4rem;
  background-color: var(--number_key_background);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--number_color);
  border-radius: 0.5rem;
  font-size: 2.5rem;
  position: relative;
}

.keys__button {
  border-bottom:var(--number_key_shadow) 0.3rem solid;  
}

.keys__button--del, .keys__button--reset {
  border-bottom:var(--del_key_shadow) 0.3rem solid;  
}

.keys__button--equals {
  border-bottom:var(--result_key_shadow) 0.3rem solid;  
}
.keys__button--reset {
  grid-column: 1 / 3;
  width: 100%;
  background-color: var(--del_key_background);
  color: var(--screen_number);
}

.keys__button--del {
  width: 100%;
  background-color: var(--del_key_background);
  color: var(--screen_number);
} 

.keys__button--equals {
  grid-column: 3 / 5;
  width: 100%;
  background-color: var(--result_key_background);
  color: var(--screen_number);
}


@import "compass/css3";

label {
  display: inline-block;
  text-align: center;
  width: 66px;
  height: 4em;
  margin-bottom: -2em;
  z-index:2;
  position:relative;
  cursor: pointer;
}
.slider {
  width:4rem;
  height: 1.5rem;
  background-color: var(--keypad_background);
  position: relative;
  border-radius: 2rem
}
.marker {
  height: 1.1em;
  width: 1.1em;
  margin-left: 0.3em;
  top: 0.2rem;
  background-color: var(--result_key_background);
  position:absolute;
  left: 0%;
  transition: left 0.5s ease-in-out;
  border-radius: 50%;
}

#b:checked ~ .slider .marker {
  left: 50%;
}

#c:checked ~ .slider .marker {
  left: 100%;
}

.calc_header__slide {
  input {
    display: none;  
  }
}