* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.steps__list {
	padding: 2rem;
	background-color: purple;
	background-image: url("./assets/images/bg-sidebar-mobile.svg");
	display: flex;
	height: 10.7rem;
	list-style-type: none;
	gap: 1rem;
	justify-content: center;
	align-items: top;
}

.steps {
	margin: 0;
}
.steps__button {
	text-align: center;
	background-color: red;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 3rem;
	border: 2px solid green;
	display: flex;
	justify-content: center;
	align-items: center;
}

.personal {
	background-color: pink;
	padding: 2rem 2rem;
}